{% extends "base.html.twig" %}

{% block content %}

    {# Event page #}

    {% if error != false %}
        <div class="alert danger">
            {{ error }}
        </div>
    {% endif %}

    {% if success != false %}
        <div class="alert success">
            {{ success }}
        </div>
    {% endif %}

    {% if user != false and user.id == event.idOrg %}

        <div class="aligncentre">
            <h3>{{ event.name }}</h3> <br/>
            <form action="generateURL" method="post">
              <input style='display:none' name="path" type='radio' value={{ path }} checked />
              <button type="submit" class="btn">Generate share URL </button>
            </form>
            <h4>Change event state</h4> <br/>
            <form action="updateEventState" method="post">
                <input style="display:none" name="idEvent" type="radio" value={{ event.idEvent }} checked />
                <input name="state" type="radio" value="open" checked/> Open <br/>
                <input name="state" type="radio" value="closed"/> Close <br/>
                <input name="state" type="radio" value="finish"/> Finish <br/>
                <button type="submit" class="btn">Validate event state</button>
            </form>

            <br/>
            <h4>Add trials</h4>
            <form action="addEventTrial" method="post">
                <input style="display:none" name="idEvent" type="radio" value={{ event.idEvent }} checked />
                Name : <input name="trialName" type="text" required /> <br/>
                Date : <input name="trialDate" type="text" id="datepicker" required> <br/>
                Price : <input name="trialPrice" type="text" required /> <br/>
                Description : <br/> <textarea name='trialDescription' rows="5" cols="40"></textarea> <br/>
                <button type="submit" class="btn">Add trial</button>
            </form>
        </div>

    {% else %}


        <div class="aligncentre">
            <h3>{{ event.name }}</h3> <br/>

            <p> Le <strong>{{ dateEvent }}</strong> à <strong>{{ event.location }}</strong></p>
            <h3>Description</h3> <br/>
            <p> {{ event.description }} </p>
            <br/>

            <h3>Inscrire des participants</h3> <br/>

        </div>

    {% endif %}

    <div class="aligncentre">
        <h3>Trials list</h3> <br/>
        <table>
            <tr>
                <th class="cell entete">Name</th>
                <th class="cell entete">Description</th>
                <th class="cell entete">Date</th>
                <th class="cell entete">Price</th>
            </tr>
            {% for trial in trials %}
                <tr class="ligne1">
                    <td class="cell">{{ trial.name }}</td>
                    <td class="cell">{{ trial.description }}</td>
                    <td class="cell">{{ trial.date }}</td>
                    <td class="cell">{{ trial.price }}€</td>
                    {% if user.id == event.idOrg %}
                        <td class="cell">
                            <form action="download" method="get">
                                <input type="number" value="{{ trial.idTrial }}" name="idTrial" style="display:none">
                                <button class="btn" type="submit">Download Participants</button>
                            </form>
                        </td>

                        <td class="cell">
                            <form action="upload" method="post" enctype="multipart/form-data">
                                <input type="number" value="{{ event.idEvent }}" name="idEvent" style="display:none">
                                <input type="number" value="{{ trial.idTrial }}" name="idTrial" style="display:none">
                                <input type="file" name="results" required><br>
                                <button class="btn" type="submit">UploadResults</button>
                            </form>
                        </td>

                        {% if event.state == "closed" or event.state == "finish" %}
                          <td class="cell">
                            <form action="results" method="get">
                              <input value="{{ trial.idTrial }}" name="idTrial" style="display:none">
                              <button class="btn" type="submit">See results</button>
                            </form>
                          </td>
                        {% endif %}

                    {% else %}
                      {% if event.state == "open" %}
                        <td class="cell">
                            <form action="participant?idTrial={{ trial.idTrial }}" method="get">
                                <input value="{{ event.idEvent }}" name="idEvent" style="display:none">
                                <input value="{{ trial.idTrial }}" name="idTrial" style="display:none">
                                <button class="btn" type="submit">Sign up</button>
                            </form>
                        </td>
                      {% else %}
                        {% if event.state == "closed" or event.state == "finish" %}
                          <td class="cell">
                            <form action="results" method="get">
                              <input value="{{ trial.idTrial }}" name="idTrial" style="display:none">
                              <button class="btn" type="submit">See results</button>
                            </form>
                          </td>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}

        </table>

    </div>


{% endblock %}
